.content {
  padding: 20px 50px 20px;
  margin: auto;
  width: 95%;
  background-color: $isabelline;
  font-family: 'Montserrat', sans-serif;
  @include respond-to('medium'){
    width: 80%;
  }
}

.news__post {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.news__title{
  font-size: $font-size-x-large;
  font-weight: 700;
}

.news__content  {
  margin: 5px;
  font-size: $font-size-medium;
  font-weight: 300;
  img{
    width: 100%;
  }
  p {
    padding: 5px 10px;
  }
}

.sidebar{
display: none;
  @include respond-to('medium'){
    display: block;
    padding: 0 2rem;


    &__about{
      width:100%;
      border-bottom: 1px solid gray;
      h1{
        font-size: $font-size-xx-large;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }

    &__content{
      font-size: $font-size-medium;
      font-weight: 300;
      padding-bottom: .9rem;
      
    }

    &__tags {
      width: 100%;
      padding-bottom: .9rem;
      border-bottom: 1px solid gray;
      h1{
        font-size: $font-size-xx-large;
        font-weight: 700;
        margin: 1rem 0;
      }
    }

    &__items{
      padding: 2px 4px;
      display: inline-block;
      background-color: $color_steelblue;
      margin-right: 1px;
      color: white;
    }

    &__pinned{
      width:100%;
      h1{
        font-size: $font-size-xx-large;
        font-weight: 700;
        margin: 1rem 0;
      }
      h4{
        font-size: $font-size-large;
        font-weight: 400;
        padding: 20px 0;
      }
      img {
        width:80%;
      }
    }

  }
}
